# ES 配置
ES_HOST=xxxxxx
ES_INDEX=xxxxx
ES_API_KEY=xxxxxx
API_KEY=YOUR_API_KEY
SESSION_SECREY_KEY=YOUR_SESSION_SECRET_KEY

# REDIS配置
REDIS_URL=redis://redis:6379/0

# 速率限制配置
RATE_LIMIT_MAX=100  # 单个 IP 在窗口内最大请求数
RATE_LIMIT_WINDOW=60  # 限流时间窗口（秒）